/* Mobile Device */
@media only screen and (max-width: 576px) {
    /* Section - 1 */
    .section-1{
        background-image: none;
    }
    .section-1-padding-hide{
        padding: 0;
    }
    .section-child-1{
        width: 100% !important;
    }
    .main-logo{
        margin: 0 auto;
        width: 220.913px;
    }
    .main-title{
        font-weight: 700;
        font-size: 23px;
        line-height: 1.2em;
        padding-top: 20px;
        text-align: center;
    }
    .main-description{
        text-align: center;
        font-size: 16px;
        margin-bottom: 0px;
    }
    .agreement{
        text-align: center;
        padding-bottom: 0;
    }
    .agreement p{
        text-shadow: 1px 1px 24px #2222224d;
    }
    .section-1-buttons{
        padding-top: 0px !important;
        margin: 0 auto;
        padding-right: 2rem!important;
        padding-left: 2rem!important;
    }
    .section-1-buttons > button{
        margin-left: 22px;
    }
    .deadline-title{
        text-align: center;
    }
    .mobile-bg-img{
        background-image: url("../images/IIDE-Homepage-PG-background-2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        padding-bottom: 300px;
    }
    .batch-info-items{
        flex-wrap: wrap;
        margin-top: 0px;
    }
    
    .batch-info-title{
        font-size: 18px;
    }
    .batch-info-description{
        font-size: 14px;
    }
    .batch-info{
        background-color: #f5f5f5 !important;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}